<div ng-include="'views/navbar.html'"></div>

<div class="container">
  <div class="well">
    <div class="well_h">
      <h3>My Parents ({{parents.length}})</h3>
      <button type="button" class="btn btn-default btn-xs pull-right" ng-click="openAddParentModal()">Add Parent</button>
    </div>

    <ul class="well_lg list-group" ng-show="parents">
      <li class="cr list-group-item" ng-repeat="parent in parents">
        <span>{{parent.name}} ({{parent.email}})</span>
        <div class="cr_right pull-right">
          <span class="label label-danger">
            <a ng-click="removeParent(parent)">Remove</a>
          </span>
        </div>
      </li>
    </ul>

    <p class="well_not text-muted" ng-hide="parents">You haven't added any parents. <a ng-click="openAddParentModal()">Add one now!</a></p>
  </div>
</div>
