<div ng-include="'views/navbar.html'"></div>

<div class="container">
  <div class="well">
    <div class="well_h">
      <h3>My Classrooms ({{classrooms.length}})</h3>
      <button type="button" class="btn btn-default btn-xs pull-right" ng-click="openCreateClassroomModal()">Create Classroom</button>
    </div>

    <ul class="well_lg list-group" ng-show="classrooms">
      <li class="cr list-group-item" ng-repeat="cr in classrooms">
        <a ng-href="#/teacher/classroom/{{cr.id}}" class="cr_name">{{cr.name}}</a>
        <a ng-href="#/teacher/classroom/{{cr.id}}?tab=students"><span class="cr_badge badge">{{cr.students.length}} students</span></a>
        <div class="cr_right pull-right">
          <a ng-href="#/teacher/classroom/{{cr.id}}?tab=gradebook"><span class="label label-primary">Gradebook</span></a>
          <a ng-href="#/teacher/classroom/{{cr.id}}?tab=attendance"><span class="label label-primary">Attendance</span></a>
        </div>
      </li>
    </ul>

    <p class="well_not text-muted" ng-hide="classrooms">You don't have any classrooms. <a ng-click="openCreateClassroomModal()">Create one now!</a></p>
  </div>
</div>
