<div ng-include="'views/navbar.html'"></div>

<div class="container">
  <div class="well __classroom">
    <div class="well_h">
      <h3>{{student.name}}</h3>
    </div>

    <ul class="well_lg list-group __student">
      <li class="list-group-item" ng-repeat="(name, val) in grades">
        <span class="badge">{{val}}</span>
        <span>{{name | beautifyGradeName}}</span>
      </li>
    </ul>

    <p class="well_not well_top_fix text-muted" ng-hide="grades">{{student.name}} has't been assigned any grades yet.</p>
  </div>
</div>
